.indexclass {
  position: absolute;
  top: 18%;
  left: 17%;
  width: 82%;
  height: 80%;
  background: #ffffff 0% 0%;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 30px;
  opacity: 1;
  overflow-x: auto;
}

.links {
  width: 40%;
  margin-right: 5%;
  padding-left: 5%;
  padding-bottom: 5%;
  float: right;
  background: #47cacc2b 0% 0% no-repeat padding-box;
  box-shadow: 7px 7px 34px #28282836;
  border: 2px solid #67cbcd;
  border-radius: 21px;
  opacity: 1;
  margin-bottom: 2em;
  /* margin-top: -100px; */
}

.content {
  max-height: 52%;
  height: 52%;
  clear: both;
  overflow-y: auto;
  width: 94%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 4em;
  /* position: relative;
  bottom: 5%; */
  /* margin-top: 5%; */
}

input[type="button"] {
  width: auto;
  height: 2em;
  padding-left: 1em;
  padding-right: 1em;
  background: transparent
    radial-gradient(closest-side at 6% 0%, #47cacc 0%, #329d9c 100%) 0% 0%
    no-repeat padding-box;
  box-shadow: 5px 5px 20px #329d9c55;
  border-radius: 21px;
  opacity: 1;
  border: solid 0px;
  text-align: center;
  letter-spacing: 0;
  color: #ffffff;
  opacity: 1;
}

.largeLabel {
  text-align: left;
  font: Bold 25px/23px Montserrat-Bold;
  letter-spacing: 0px;
  color: #206aa2;
  opacity: 1;
}

.smallLabel {
  text-align: left;
  font: Bold 20px/18px Montserrat-Bold;
  letter-spacing: 0px;
  color: #206aa2;
  opacity: 1;
}

.remove {
  background: #f54b42 !important;
}
